.mb-3 {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    text-align: center;
    padding: 20px;
    background-color: rgb(218, 214, 27);
    border-radius: 30px;
    box-shadow: 5px 5px;
}

.mb-4 {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px;
    border-radius: 30px;
    
}

.btn {
    width: 30%;
    height: 7%;
}

.t1 {
    margin-bottom: 30px;
}

.t2 {
    margin-top: 30px;
}

.divider {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.error {
    text-align: center;
    color: red;
}

.success {
    text-align: center;
    color: green;
}



.mb-4 {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
 .btn {
    width: 140px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
  
 .btn:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }