.form-group {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.btn {
    display: block;
    margin: 0 auto;
}

.mb-3 {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
}

.error {
    text-align: center;
    color: red;
}

.success {
    text-align: center;
    color: green;
}